---
import { getEntry, render } from "astro:content";
import Markdown from "@components/misc/Markdown.astro";
import ExperienceTimeline from "../components/ExperienceTimeline.astro";
import MainGridLayout from "../layouts/MainGridLayout.astro";

const aboutPost = await getEntry("spec", "experience");

if (!aboutPost) {
	throw new Error("About page content not found");
}

const { Content } = await render(aboutPost);
---

<MainGridLayout title="Experience" description="Learn more about me">
  <div class="prose prose-invert">
    <Markdown class="mt-2">
      <Content />
    </Markdown>

    <!--<h2 class="mt-10">Experience</h2>-->
    <ExperienceTimeline />
  </div>
</MainGridLayout>