---
const experience = [
	{
		year: "2020 – 2024",
		title: "Technical Specialist – Transportation Management Area at PEMEX",
		description:
			"Developed analytical tools for the economic evaluation and optimization of the gasoline and diesel transportation system.",
	},
	{
		year: "2016 – 2020",
		title: "Technical Specialist – Planning Area at PEMEX",
		description:
			"Designed optimization models for the nationwide distribution of gasoline and diesel, as well as the operational efficiency of refineries in Mexico.",
	},
	{
		year: "2014 – 2015",
		title:
			"Technical Specialist – Planning and Operations Coordination in Refining Division at PEMEX",
		description:
			"Developed and executed pricing strategies based on international market conditions for crude and refined products.",
	},
	{
		year: "2013",
		title: "Validation Engineer at Colgate-Palmolive",
		description:
			"Coordinated validation of water systems and base product processes in home care production, ensuring compliance with quality standards.",
	},
	{
		year: "2009",
		title: "Training Engineer at BASF Agri Production",
		description:
			"Conducted a study on reducing AOX in aqueous waste, identifying liquid-liquid extraction as the most effective method.",
	},
];
---

<ul class="border-l-2 border-sky-500 pl-4 mt-8">
  {experience.map((job) => (
    <li class="mb-10 pl-6 relative">
     <div class="absolute left-0 top-1.5 w-4 h-4 bg-sky-500 rounded-full border border-white"></div>
     <time class="ml-6 text-sm font-normal leading-none text-gray-400">{job.year}</time>
     <h3 class="text-lg font-semibold text-white">{job.title}</h3>
     <p class="text-base font-normal text-gray-300">{job.description}</p>
    </li>
  ))}
</ul>
